*{
    margin: 0%;
}

.footer-container{
    background-color:#26272b;
    padding:1% 0 0;
    font-size:1rem;
    height:auto;
    color:#737373;
    display: flex;
}
.directory-container{
    height:100%;
    width: 25%;
}
    .directory-img{
        width: 200px;
        padding-left: 20px;
        height: 70px;
    }
    .directory-info{
        color:white;
        height: 70%;
        padding:15px;
        color:#737373;
    }
.about-us{
    height: 100%;
    width: 25%;
    text-align: center;
}
    .about-us-title{
        height: 30%;
        color: white;
        text-align: center;
    }
    .about-us-info{
        height: 70%;
        color: white;
        padding: 15px;
        color:#737373;
    }
.colaboradores-container{
    height: 100%;
    width: 25%;
}
    .colaboradores-title{
        height: 30%;
        color: white;
        text-align: center;
    }
    .link-container{
        height: 70%;
        padding: 15px;
        text-align: center;
        margin: auto;
        display: block;
    }
        .link-web-page{
            color:#737373;
            width:100%;
            text-decoration: none;
        }
            .link-web-page:hover{
                color:rgba(106, 59, 89);
                text-decoration:none;
            }
.follow-us-container{
    height: 100%;
    width: 25%;
}
    .follow-us-text{
        height: 30%;
        color: white;
        text-align: center;
    }
    .social-container{
        text-align: center;
        padding: 15%;
    }
        .icon-config{
            font-size:1.8em;
            padding: 1%;
            color:#737373;
        }
            .icon-config:hover,.icon-config:active{
                /* color:rgba(255, 255, 255, 0.8); */
                color:rgba(106, 59, 89, 0.9);
                text-decoration: none;
            }
