    .create-user-form{
        background-color: rgba(106, 59, 89, 0.9);
        color: white;
        text-align: center;
        width: 480px;
        padding: 30px;
        border-radius: 10px;
        margin:auto;
    }
        .create-user-button{
            background-color: #050505;
            border-color: #050505;
            width: 100%;
            color:white;
        }
        
        .create-user-button:hover{
            border-color: #050505;
            background-color: #050505;
            box-shadow: 0px 0px 5px 1px white;
        }
    
    #input-name:focus,
    #input-rut:focus,
    #input-email:focus,
    #input-country:focus,
    #input-password{
        box-shadow: 0px 0px 6px 1px #ffffff;
        border-color: darkblue;
    }